.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;

}

html, body, #root, .App {
  height: 100%;
}

button{
  padding: 5px 15px 5px 15px;
  color: white;
  border: none;
  background-color: #0081ff;
  width: 400px;
  height: 40px;
  border-radius: 10px;
} 